

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  height: 100%;
  max-width: 80%;
  background-color: rgb(12, 236, 225);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  position:relative;
  overflow: auto;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 3px solid hsl(var(--hue), 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: rgb(9, 8, 8);
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
.question-img{
  display: block;
  max-width:100%;
  height:100%;
  object-fit: contain;
}

.timer {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0;
}

.end-message {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.score {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
}

